.status-board__container{
    display: grid;
    grid-template-columns: 4fr 2fr;
    background-color: blue;
    width: 100%;
    height: 90vh;
}

.attending-list__container{
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #d8e9f0;;
}

.nav-main-section{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.status-board__nav{
height: 20%;
}

.status-board__main{
    height: 100%;
    background-color: red;
}