.login-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #3E54AC

}

.login-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 40%;
    height: 85%;
    background-color: white;
    border-radius: 5px;
}

.login-form * {
    margin: 5px 0;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.login-label{
    color: rgb(169, 169, 169);
    font-weight: 600;
    font-size: 0.7em;
}

.login-input{
    border: none;
    border-bottom: 1px solid rgb(169, 169, 169); ;
}

.login-input:focus {
    outline: none;
  }

.login-logo{
    align-self: center;
}

.login-btn{
    background-color: #637dd3;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.login-btn:hover{
    background-color: #3E54AC;
}

.login-image__container{
    display: flex;
    justify-content: center;
    background-image: url('../../imgs/dingdong.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 40%;
    height: 70%;
}

.login-text__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 45%;
}

.login-text{
    text-align: justify;
    color: white;
    font-weight: 500;
}

.--back-btn{
    background-color: #a1b3e7;
    align-self: flex-start;
}